h1,
h2,
h3,
h4,
h5,
h6{font-family: $primary-font;
  color: $white;

}

p{
  color: $white;
  font-family: $second-font;
  font-weight: $regular;
  font-size: $xx-small;
}


h5{
  font-size: 24px;
}


h6{
  font-size: $x-large;
  font-weight: $regular;
}
p{
  font-family: $rubik;
  font-size: $x-small;
}

a{
  font-family: $primary-font;
  text-decoration: none;
  color: $white;
}